<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DeviceName" value="RGB_NEW"/>
		<add key="LogPath" value="D:\RGB_LOG"/>
		<add key="DesFolderPath" value="D:\RGB_FAI"/>
		<add key="Line" value="A2B"/>
		<add key="RunTime" value="18:30:00" />


	</appSettings>

</configuration>