<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DeviceName" value="RGB_OLD"/>
		<add key="LogPath" value="ftp://ATD@10.69.230.66/ATD/RGB_Test_Images/"/>
		<add key="DesFolderPath" value="D:\RGB_FAI"/>
		<add key="Line" value="A2B"/>
		<add key="RunTime" value="08:30:00" />


	</appSettings>

</configuration>