<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DeviceName" value="KB_NEW"/>
		<add key="LogPath" value="D:\HCB\Picture"/>
		<add key="DesFolderPath" value="D:\KB_FAI"/>
		<add key="Line" value="A2B"/>
		<add key="RunTime" value="13:28:00" />


	</appSettings>

</configuration>